
@{
    ViewData["Title"] = "Create release";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DMPackageManager.Website.Models.Page.NewRelease;

<h1 class="display-4">Create release</h1>
<p><i>Package: <code>@Model.package_name</code></i></p>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" name="vtag" aria-describedby="vhelp" placeholder="Release version" value="@Model.vtag">
                <small id="vhelp" class="form-text text-muted">Mut be in semver format (x.y.z).</small>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input type="file" class="form-control-file" name="packagezip" aria-describedby="fhelp" placeholder="Package upload">
                <small id="fhelp" class="form-text text-muted">Must be a zip file following the package spec. <a asp-controller="Main" asp-action="PackageSpec">See here for details.</a></small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <p>Release notes. Written in markdown.</p>
                <textarea class="form-control" name="rnotes" id="rn_container" rows="10" onkeyup="updatePreview()">@Model.rnotes</textarea>
            </div>
        </div>
        <div class="col">
            <p>Release notes preview</p>
            <hr />
            <div id="md_preview"></div>
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-block">Create</button>
    @if (Model.errors.Count > 0) {
        <div class="alert alert-danger mt-2">
            <h3>The following errors occured when trying to create the package:</h3>
            <ul>
                @foreach (string S in Model.errors) {
                    <li>@S</li>
                }
            </ul>
        </div>
    }
</form>
<script src="~/lib/markdown-it/markdown-it.min.js"></script>
<script>
    // Run once
    document.getElementById("md_preview").innerHTML = window.markdownit().render(document.getElementById("rn_container").value);
    // Run on command
    function updatePreview() {
        document.getElementById("md_preview").innerHTML = window.markdownit().render(document.getElementById("rn_container").value);
    }
</script>