
@{
    ViewData["Title"] = "Create release";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DMPackageManager.Website.Models.Page.NewRelease;

<h1 class="display-4">Create release</h1>
<p><i>Package: <code>@Model.package_name</code></i></p>
<form>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" name="vname" aria-describedby="vhelp" placeholder="Release name" value="TODO">
                <small id="vhelp" class="form-text text-muted">We recommend standard versioning (1.1) but you can use letters as well (1.0-A).</small>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <input type="file" class="form-control-file" name="packagefile" aria-describedby="fhelp" placeholder="Package upload">
                <small id="fhelp" class="form-text text-muted">Must be a zip file following the package spec. <a asp-controller="Main" asp-action="PackageSpec">See here for details.</a></small>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <p>Release notes. Written in markdown.</p>
                <textarea class="form-control" name="releasenotes" id="rn_container" rows="10" onkeyup="updatePreview()"></textarea>
            </div>
        </div>
        <div class="col">
            <p>Release notes preview</p>
            <hr />
            <div id="md_preview"></div>
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-block">Create</button>
</form>
<script src="~/lib/markdown-it/markdown-it.min.js"></script>
<script>
    function updatePreview() {
        document.getElementById("md_preview").innerHTML = window.markdownit().render(document.getElementById("rn_container").value);
    }
</script>