@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DMPM</h1>
    <p>A package manager for applications written in the BYOND DM programming language.</p>
    <a class="btn btn-lg btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Install</a>
    <a class="btn btn-lg btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">Documentation</a>
    <hr />
</div>
<h1>TODO: Write more stuff here</h1>