
@{
    ViewData["Title"] = @Model.package_owner + "'s packages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model DMPackageManager.Website.Models.Page.UserPackageList;
<h1 class="display-4">@Model.package_owner's packages</h1>

